@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }

<div class="inline field">
    <div class="ui toggle checkbox">
        <input type="checkbox" id="@field.name" name="@field.name" value="true" @if(field.value == Some("true")) {checked}/>
        <label for="@field.name"></label>
    </div>
    <label for="@field.name">@elements.label</label>
</div>
