@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }

<div class="@if(elements.hasErrors) {error }field">
    <label for="@elements.id">@elements.label</label>
    <input type="text" id="@field.id" name="@field.name" value="@field.value">
    @if(elements.hasErrors) {<div class="ui red pointing above ui label">@elements.errors.mkString(", ")</div>}
</div>

